<mat-toolbar class="footer__container">
    <mat-toolbar-row>
        <div class="container">
            <div class="row">
                <h3 class="footer__title">©2020 Copyright: All rights reserved.</h3>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="footer">
    <div class="container">
        <div class="footer__containerr">
            <div class="b">sss</div>
            <div class="d">dddsd</div>
        </div>
        <div class="footer__details">
            <div class="footer__products">
                <p>New Products</p>
                <p>In Offert</p>
                <p>Latest products</p>
            </div>
            <div class="footer__about">
                <p>About Us</p>
                <p>Our Shops</p>
            </div>
            <div class="footer__contact">
                <p>Contact</p>
            </div>
        </div>
    </div>
</div>